html
    head
        include pure.pug
        include fonts.pug
        script(src="https://code.jquery.com/jquery-3.3.1.js")
        style
            include css/navBar.css
            include css/usersList.css
            include css/text.css
            include css/headers.css
            include css/error.css
    body
        include navBar.pug
        h2 User List
        if users.length !== 0
            div#display-by-category
                form(class="pure-form", id="displayUsers", method="POST")
                    span Display users by
                    select(
                        id="user-category"
                        class="user-input",
                        onchange="this.form.submit()",
                        name="user-category"
                    )
                        option(value="_id") date created
                        option(value="first") first name
                        option(value="last") last name
                        option(value="age") age
                        option(value="emailAddress") email address
                    span in
                    select(
                        id="user-order",
                        class="user-input",
                        onchange="this.form.submit()",
                        name="user-order"
                    )
                        option ascending
                        option descending
                    span order

            div#search
                form(class="pure-form", method="POST")
                    input(
                        type="text",
                        class="pure-input-rounded",
                        name="search-input"
                        )
                    button(
                        type="submit"
                        class="pure-button pure-button-primary user-input"
                        ) Search

            table(class="pure-table pure-table-bordered", id="user-list-table")
                thead
                    tr
                        th First Name
                        th Last Name
                        th Age
                        th Email
                        th Account Created
                        th Edit User
                        th Delete User
                tbody
                    each obj in users
                        tr
                            td= obj.first
                            td= obj.last
                            td= obj.age
                            td= obj.emailAddress
                            td= obj.createdDate
                            td
                                a.anchor(
                                    href="/userList/"+obj._id+"?category="+category+"&order="+order,
                                    class="pure-button"
                                    ) Edit User
                            td
                                a.anchor(
                                    href="/deleteUser/"+obj._id+"?category="+category+"&order="+order,
                                    class="pure-button"
                                    ) Delete User
        else
            div#error-container
                div#error
                    div#error-message No users saved
                    a.anchor(href="/createUser", id="try-again", class="pure-button") Create User

        script.
            $("#user-category").val("#{category}");
            $("#user-order").val("#{order}");