html
    head
        include pure.pug
        include fonts.pug
        style
            include css/navBar.css
            include css/usersList.css
            include css/text.css
            include css/headers.css
            include css/error.css
    body
        include navBar.pug
        h2 User List
        if users.length !== 0
            table(class="pure-table pure-table-bordered", id="user-list-table")
                thead
                    tr
                        th First Name
                        th Last Name
                        th Age
                        th Email
                        th Account Created
                        th Edit User
                        th Delete User
                tbody
                    each obj in users
                        tr
                            td= obj.first
                            td= obj.last
                            td= obj.age
                            td= obj.emailAddress
                            td= obj.createdDate
                            td
                                a.anchor(href="/userList/"+obj._id, class="pure-button") Edit User
                            td
                                a.anchor(href="/deleteUser/"+obj._id, class="pure-button") Delete User
        else
            div#error-container
                div#error
                    div#error-message No users saved
                    a.anchor(href="/createUser", id="try-again", class="pure-button") Create User